* {
  margin: 0;
  padding: 0;
  background-color: rgb(50, 50, 50);
  color: lightgrey;
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
}

.centered-section {
  text-align: center;
  border-top: 3px dotted darkgrey;
}

.centered-section h1 {
  margin: 10px 0;
}

/* -----HEADER----- */
header {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
}

header .name {
  font-size: 50px;
  font-weight: bold;
  margin: 10px;
}

header .profile-pic {
  height: 150px;
  border-radius: 50%;
  border: 2px solid lightgrey;
}

/* -----RESUME----- */

#resume {
  width: 680px;
  height: 903px;
}

/* -----LINKS----- */
